@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  font-family: "Unbounded", cursive;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #131516;
}

header {
  width: 100%;
  top: 25px;
  z-index: 100;
  position: fixed;
  color: white;
  display: block;
}

.navP {
  text-decoration: none;
  padding: 0.5em;
  transition: 300ms;
  border-radius: 20px;
}

.navP:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

#hero {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: url("./resources/image.jpeg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  animation: dog 2s ease-in-out 0.5s forwards;
}

@keyframes dog {
  from {
    background-position: fixed;
  }

  to {
    background-position: center;
  }
}

#heroP {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: xx-large;
}

article {
  padding: 10%;
  text-align: center;
}

ul {
  text-align: initial;
  list-style-type: none;
}

.code {
  border-left: 4px solid white;
  background-color: #222;
  padding-left: 10px;
  margin-top: 4px;
}

#contact {
  margin: 0;
  width: 100%;
  height: 70vh;
  padding-top: 10%;
  text-align: center;
}

.contactLink {
  padding: 5px;
  color: var(--bs-white);
  transition: 300ms;
}

.contactLink:hover {
  color: lightskyblue;
}

footer {
  width: 100%;
  text-align: center;
}